body {
    background-color: cornsilk;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: serif;
    font-size: 30pt;
    font-weight: 350;
    word-spacing: 5px;
    text-shadow: 1px 1px #c3c3c3;
}

.container{
    display: flex;
    flex-direction: column;
}

/* Edición de línea para cambiar de temas entre secciones en la/s página/s */
hr {
    border: 1;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*Edicion de medidas de logos al inicio de la pagina*/
.logo{
    max-width: 20rem;
    max-height: 15rem;
}

.logo2{
    max-width: 18rem;
    max-height: 15rem;
}

/* Menú de navegación */
.menu{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid;
}

.menu li a{
    text-decoration: none;
    color: black;
    padding: 20px;
    display: flexbox;
}

.menu li a:hover {
    color: darkslateblue;
}

.menu li{
    display: inline-block;
    text-align: center;
}

/* Decoración de titulo y subtitulo*/
h1, h2 {
    font-size: larger;
    text-decoration: underline solid black;
    text-align: center;
}

/* Edición en el estilo de fuente de frases citadas de la obra*/
h2.frase {
    font-style: italic;
    text-decoration: none;
    font-size: medium;
}

/* Decoración de subtitulos generales */
h2.subtitulo {
    font-size: 50px;
    text-align: center;
    text-decoration: underline solid black;
}

/* Edición de los elementos p */
p { 
    margin: 1%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: large;
    font-weight: 800;
    text-align: center;
}

/* Altura y ancho de imagen de Guts y Puck */
.puck{  
    margin: 2%;
    width: 20rem;
    height: 15rem;
    border: 1px solid black;
}

/* Edición de la lista de sagas de la obra */
.sagas{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: oblique;
}

/* margin entre lista de barra de navegacion */
ul li{
    margin: 0.75rem;
}

/* Ancho y altura de imagen de Guts */
.frase_guts{
    width: 10rem;
    height: 10rem;
    justify-content: center;
}

/* Ancho y borde de imagen sobre la marca en la nuca de Guts */
.marca {
    width: 18rem;
    height: 9rem;
    margin: 2%;
    border: 1px solid black;
}

/* Ancho y borde de imagen sobre el Behelit */
.behelit1{
    width: 10rem;
    height: 10rem;
    margin: 2%;
    border: 1px solid black;
}

/*Clase para 2da imagen de behelit*/
.behelit{
    width: 15rem;
    height: 10rem;
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.apostol{
    width: 15rem;
    height: 15rem;
    margin: 2%;
    border: 1px solid black;
}

.imgHiper{
    width: fit-content;
}

/* Medidas y edición de tabla de personajes */
.tabla{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    width: 85%;
}

/* Tabla de personajes */
.tabla tbody{
    color: black;
}

table img{
    width: 20%;
    border: 1px solid black;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

table tr:hover{
    background: #c3c3c3;
}

/* Edición de imagen de la Mano de Dios */
.mano{
    width: 18rem;
    height: 9rem;
    margin: 2%;
    border: 1px solid black;
}

/* Edición de tamaño de imagen de Guts blandiendo la Dragon Slayer */
.dragon-img{
    width: 30%;
    height: 40%;
    border: 1px solid black;
}

/* Edición de tamaño de imagen de Godo */
.godo{
    width: 20%;
    border: 1px solid black;
}


/* Titulo de formulario de contacto */
.contacto h1{
    margin: 0%;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    font-size: 20px;
}

/* div de formulario */
.contacto{
    width: 400px;
    height: 100%;
    background-color: grey;
    margin: auto;
    margin-top: 3%;
    padding: 20px 30px;
    border: 4px solid black;
}

/* Tamaño de input email e input tel */
.barra {
    width: 100%;
    border: 1px solid black; 
    margin-bottom: 15px;
    padding: 11px 10px;
    font-size: 15px;
    font-weight: bold;
}

/* div del captcha */
.captcha {
    background-image: url('../img/difuminacionCaptcha.jpg'); 
    padding: 1%;
}

/* Edición de código captcha */
.captcha p {
    color: darkgrey;
    font-size: 30px;
    user-select: none;
}

.tituloCaptcha{
    margin: 0;
}

/* Tamaño y edicion de boton de enviar */
.boton {
    width: 100%;
    height: 40px;
    background-color: white;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 1px;
    margin-bottom: 2px;
}

/* Div con posicionamiento de imagen y texto con hipervinculo a Guts.html o Dragons_Slayer.html */
.Acceso {
    margin: 70px;
    text-align: center;
    list-style: none;
}

/* Hipervinculo Dragons_Slayer.html o Guts.html desde imagen y texto */
.Acceso , .hiper {
    color: black;
    list-style: none;
    text-decoration: none;
    border: 1px; 
}

/* Hipervínculo hacía Guts.html o Dragons_Slayer.html desde imagen y texto */
a{
    color: black;
    text-decoration: underline;
    list-style: none;
    border: 1px; 
}

/* hover para todos los hipervínculos */
a:hover {
 color: darkred;
}

/* Edición de parrafo en el footer */
.footertxt{
    font-style: oblique;
    color: gray;
    font-size: 80%;
}

@media only screen and (min-width: 600px)  {

    body {
        background-color: cornsilk;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family: serif;
        font-size: 16pt;
        font-weight: 300;
        word-spacing: 5px;
        text-shadow: 1px 1px #c3c3c3;
        text-align: center;
    }

    .logo{
        width: auto;
        height: auto;
    }
    /* Edición de línea para cambiar de temas entre secciones en la/s página/s */
    hr {
        border: 1;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }

    /* Menú de navegación */
    .menu{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid;
    }

    .menu li a{
        text-decoration: none;
        color: black;
        padding: 20px;
        display: flexbox;
    }

    .menu li a:hover {
        color: red;
    }

    .menu li{
        display: inline-block;
        text-align: center;
    }

    /* Decoración de titulo y subtitulo*/
    h1, h2 {
        text-decoration: underline solid black;
    }

    /* Edición en el estilo de fuente de frases citadas de la obra*/
    h2.frase {
        font-style: italic;
        text-decoration: none;
    }

    /* Decoración de subtitulos generales */
    h2.subtitulo {
        text-decoration: underline solid black;
    }

    /* Edición de los elementos p */
    *p { 
        margin: 1%;
        margin-left: 5%;
        margin-right: 5%;
    }

    /* Altura y ancho de imagen de Guts y Puck */
    .puck{  
        margin: 2%;
        width: 35%;
        height: 10%;
        border: 1px solid black;
    }

    /* Edición de la lista de sagas de la obra */
    .sagas{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-style: oblique;
    }

    /* margin entre lista de barra de navegacion */
    ul li{
        margin: 0.75rem;
    }

    /* Ancho y altura de imagen de Guts */
    .frase_guts{
        width: 25%;
        height: 25%;
    }

    /* Ancho y borde de imagen sobre la marca en la nuca de Guts */
    .marca {
        width: 30%;
        border: 1px solid black;
    }

    /* Ancho y borde de imagen sobre el Behelit */
    .behelit{
        width: 10rem;
        height: 8rem;
        border: 1px solid black;
    }

    /* Medidas y edición de tabla de personajes */
    .tabla{
        margin: 2%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
        width: 85%;
    }

    /* Tabla de personajes */
    .tabla tbody{
        color: black;
    }

    table img{
        width: 20%;
        border: 1px solid black;
    }

    table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
        padding: 10px;
    }

    table tr:hover{
        background: #c3c3c3;
    }

    /* Edición de imagen de la Mano de Dios */
    .mano{
        margin: 1%;
        width: 40%;
        border: 1px solid black;
    }

    /* Edición de tamaño de imagen de Guts blandiendo la Dragon Slayer */
    .dragon-img{
        width: 30%;
        height: 40%;
        border: 1px solid black;
    }

    /* Edición de tamaño de imagen de Godo */
    .godo{
        width: 20%;
        border: 1px solid black;
    }


    /* Titulo de formulario de contacto */
    .contacto h1{
        margin: 0%;
        text-align: center;
        height: 40px;
        margin-bottom: 30px;
        border-bottom: 1px solid black;
        font-size: 20px;
    }

    /* div de formulario */
    .contacto{
        width: 400px;
        height: 100%;
        background-color: grey;
        margin: auto;
        margin-top: 3%;
        padding: 20px 30px;
        border: 4px solid black;
    }

    /* Tamaño de input email e input tel */
    .barra {
        width: 100%;
        border: 1px solid black; 
        margin-bottom: 15px;
        padding: 11px 10px;
        font-size: 15px;
        font-weight: bold;
    }

    /* div del captcha */
    .captcha {
        background-image: url('../img/difuminacionCaptcha.jpg'); 
        padding: 1%;
    }

    /* Edición de código captcha */
    .captcha p {
        color: darkgrey;
        font-size: 30px;
        user-select: none;
    }

    .tituloCaptcha{
        margin: 0;
    }

    /* Tamaño y edicion de boton de enviar */
    .boton {
        width: 100%;
        height: 40px;
        background-color: white;
        border-collapse: collapse;
        border: 1px solid black;
        margin: 1px;
        margin-bottom: 2px;
    }

    /* Div con posicionamiento de imagen y texto con hipervinculo a Guts.html o Dragons_Slayer.html */
    .Acceso {
        margin: 70px;
        text-align: center;
        list-style: none;
    }

    /* Hipervinculo Dragons_Slayer.html o Guts.html desde imagen y texto */
    .Acceso , .hiper {
        color: black;
        list-style: none;
        text-decoration: none;
        border: 1px; 
    }

    /* Hipervínculo hacía Guts.html o Dragons_Slayer.html desde imagen y texto */
    a{
        color: black;
        text-decoration: underline;
        list-style: none;
        border: 1px; 
    }

    /* hover para todos los hipervínculos */
    a:hover {
    color: darkred;
    }

    /* Edición de parrafo en el footer */
    .footertxt{
        font-style: oblique;
        color: gray;
        font-size: 80%;
    }
}